
[Desktop Entry]
Type=Application
Name=SparkleShare
Comment=Sync your files across computers and to the web using git
Exec=sparkleshare start
Icon=folder-sparkleshare
Terminal=false
X-GNOME-Autostart-enabled=false
Categories=Network;FileTransfer;
StartupNotify=false
