
[Desktop Entry]
Type=Application
Exec=/usr/bin/syndaemon -i .5 -t -K -R -d
Hidden=false
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
Name[en_US]=syndaemon
Name=syndaemon
Comment[en_US]=Disable touchpad while typing
Comment=Disable touchpad while typing
