#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Android IDE
Name[en_US]=Android IDE
Icon=/home/dallen/.local/share/applications/android.svg
Comment=Develop Android applications
Comment[en_US]=Develop Android applications
Exec=/home/dallen/opt/android-ide/eclipse
Type=Application
Terminal=false
Categories=Development;Java;IDE
