[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Android IDE
Type=Application
Terminal=false
Categories=Development;Java;IDE
Name[en_US]=Android IDE
Exec=/home/dallen/opt/android-ide/eclipse
Comment[en_US]=Develop Android applications
Comment=Develop Android applications
Icon=/home/dallen/config/launchers/android.svg
GenericName[en_US]=
