#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=B-Folders
Name[en_US]=B-Folders
Icon=dialog-password
Comment=Manage accounts and passwords
Comment[en_US]=Manage accounts and passwords
Exec=b-folders
Type=Application
Terminal=false
