#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Eclipse
Name[en_US]=Eclipse
#Icon=/home/dallen/config/launchers/eclipse.svg
Icon=eclipse
Comment=Develop Java programs
Comment[en_US]=Develop Java programs
Exec=/home/dallen/opt/eclipse/run-eclipse
Type=Application
Terminal=false
Categories=Development;Java;IDE
