#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=H2 Console
Type=Application
Terminal=false
Name[en_US]=H2 Console
Exec=h2-console
Comment[en_US]=Manage H2 databases
Comment=Manage H2 databases
Icon=h2
