#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=Development;Java;IDE
Name=IntelliJ IDEA
Exec=idea.sh
TryExec=
X-GNOME-DocPath=
Terminal=false
GenericName[en_US]=IntelliJ IDEA
Comment[en_US]=Develop Java programs
Icon=idea
