[Desktop Entry]
Name=SlideRocket Player
Name[en_US]=SlideRocket Player
Comment=Play SlideRocket presentations from your desktop in offline mode
GenericName=SlideRocket Player
Exec='/opt'/'SlideRocket Player'/bin/'SlideRocket Player'
Type=Application
Terminal=false
Icon=/home/dallen/.local/share/applications/sliderocket.png
Icon[en_US]=/home/dallen/.local/share/applications/sliderocket.png
StartupNotify=true
X-KDE-StartupNotify=true
Categories=Office;Viewer;Utility;
