tt {
  font-family: inherit;
}

body { 
  line-height: 1.6;
  background: white;
  font-family: helvetica, droid sans, sans-serif; 
  margin: 2em auto;
  font-size: 12pt;
  max-width: 72ex;
  color: transparent;
}

body > hr {
  display: none;
}

body > a {
  font-size: 10pt;
}

h1, ul, tt, pre, p, form, td, address {
  color: #333;
}

/* Not paragraph text, but a "helpful" tip. */
p {
  font-size: 10pt;
}

form {
  padding: 1em;
  font-size: 10pt;
}

/* Header */
h1 + hr + ul {
  color: #555;
  font-size: 10pt;
  margin: 0 0 3em;
}
h1 + hr + ul em {
  font-style: normal;
  color: #999;
  width: 9ex;
  display: inline-block;
  background-color: white;
  margin-right: -1ex;
  position: relative;
  text-align: right;
  padding: 0 3ex 0 0;
}

/* Remove header subject (it's at the top, duh) */
hr + ul > li + li + li {
  display: none;
}
hr + ul > li + li + li + li {
  display: block;
}

pre {
  font-size: 10pt;
  white-space: pre-wrap;
  font-family: inherit;
}

/* Paragraph breaks. Heh. */
pre[style="margin: 0em;"] {
  font-size: 12pt;
  font-family: inherit;
}

h1 {
  margin: 2em 0 1em;
  font-size: 20pt;
}

h1 + hr {
  display: none;
}

ol, ul {
  list-style: none;
}

body > ul {
  padding-left: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

hr {
  border: none;
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  border: none;
}

th, td {
  padding: 2ex;
  border-color: #eee;
}

/* Make sure links wrap if they're too long */
a {
  max-width: 72ex;
  word-wrap: break-word;
  display: inline-block;
}

/* Subscribe page */
td[bgcolor="#99CCFF"],
td[bgcolor="#FFF0D0"] {
  background-color: transparent !important;
  padding: 3em 0 1em !important;
  vertical-align: middle;
}

td[bgcolor="#99CCFF"] font {
  font-size:18pt !important;
  padding-top: 1em !important;
}

td[bgcolor="#FFF0D0"] form {
  padding: 0;
}

td[colspan="2"] > ul {
  padding: 0;
  margin: 0;
}

table[width="70%"][height="112"] {
  width: 100% !important;
  height: auto;
  margin: 1em 0 0;
}

table[width="70%"][height="112"] td,
td[bgcolor="#dddddd"] {
  background-color: transparent !important;
  color: #555;
  font: inherit;
  font-size: 10pt;
  border: 24px solid transparent;
  border-width: 12px 12px 24px 24px;
}
